# This is an example build time/run time env file
# The default values are the values used for local development

# The port the API runs on
PORT=3000
# The path to save game data to
STORAGE_PATH="_gamedata"
# The URL the frontend uses to send a request to the API, eg https://api.example.com
# This is processed at build time
API_URL=http://localhost:3000
